@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
      }

    50% {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    100% {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
    }
}

.body {
    background: linear-gradient(180deg, #F5F5FB 0%, #F2F2F6 100%);
}

.page {
    font-family: 'Rounded Mplus 1c', Arial, sans-serif ;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    padding-top: 50px;
}

.page__background {
    position: absolute;
    z-index: 0;
    top: 294px;
    width: 100%;
    height: 500px;
    background-image: url(./images/mask.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.reviews {
    max-width: 86.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 500px;
    z-index: 1;
}

.reviews__title {
    max-width: 1000px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    color: #171739;
}

.reviews__slider {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 80px 0 0;
}

.reviews__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.reviews__item-sound {
    height: 119px;
    width: 119px;
    padding: 0;
    background-color: transparent;
    background-image: url(./images/sound.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
}

.reviews__item-sound_active {
    background-image: url(./images/sound.png);
    background-size: cover;
    animation: pulse 2s linear infinite;
    /* margin-bottom: -56px; */
    transition: all 0.5s ease;
}

.reviews__item-sound:hover {
    background-image: url(./images/sound-hover.svg);
    animation: pulse 2s linear infinite;
}

.reviews__item-sound_active:hover {
    background-image: url(./images/sound.png);
}
.reviews__item-img {
    object-fit: cover;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #79B7EA;
    z-index: 2;
}

.reviews__item-time {
    font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #171739;
    margin: 12px 0;
}

.reviews__item-name {
    font-style: normal;
    font-weight: 900;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    color: #171739;
    margin: 0;
}

.reviews__item-text {
    width: 100%;
    font-family: 'Mplus 1p', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #171739;
    margin-top: 26px;
}

.swiper-button-prev::after {
    content: url(./images/prev.svg);
    width: 70px;
    height: 70px;
}

.swiper-button-next::after {
    content: url(./images/next.svg);
    width: 70px;
    height: 70px;
}

.swiper-button-next {
    right: 43px;
    outline: none;
}

.swiper-button-prev {
    left: 43px;
    outline: none;
}

.swiper-button-next:hover::after {
    width: 86px;
    height: 86px;
    content: url(./images/next-hover.svg);
}

.swiper-button-prev:hover::after {
    width: 86px;
    height: 86px;
    content: url(./images/next-hover.svg);
    transform: scale(-1, 1);
}

.swiper-scrollbar {
    visibility: hidden;
    background: #C3DCF4;
}

.swiper-scrollbar-drag {
    background: #7CBCF3;
}

@media screen and (max-width: 1440px) {
    .swiper-button-prev::after {
        content: url(./images/prev-1440.svg);
        width: 30px;
        height: 30px;
    }
    
    .swiper-button-next::after {
        content: url(./images/next-1440.svg);
        width: 30px;
        height: 30px;
    }

    .swiper-button-next:hover::after {
        content: url(./images/next-1440.svg);
        width: 30px;
        height: 30px;
    }
    
    .swiper-button-prev:hover::after {
        width: 30px;
        height: 30px;
        content: url(./images/prev-1440.svg);
        transform: none;
    }

    .page__background {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .swiper-button-next, .swiper-button-next::after, .swiper-button-prev, .swiper-button-prev::after {
        visibility: hidden;
    }
}

@media screen and (max-width: 768px) {
    .reviews__title {
        font-size: 35px;
        line-height: 45px;
    }
    .reviews__item-name {
        font-size: 25px;
    }
    .swiper-scrollbar {
        visibility: visible;
    }
}

@media screen and (max-width: 475px) {
    .reviews__title {
        font-size: 30px;
        line-height: 40px;
    }

    .reviews__item-name {
        line-height: 35px;
    }

    .reviews__item-img {
        width: 58.3px;
        height: 58.3px;
    }

    .swiper-button-prev, .swiper-button-prev::after {
        visibility: visible;
    }

    .swiper-button-prev::after {
        content: url(./images/prev-slide.svg);
    }

    .swiper-button-prev:hover::after {
        content: url(./images/prev-slide.svg);
    }

    .swiper-button-prev {
        top: 30%;
        left: 20px;
    }


}